bin/**/*
bin/*
benchmarks/cells/bin
benchmarks/PLINQ/bin
benchmarks/PLINQ/obj
benchmarks/PLINQ/*.suo
benchmarks/PLINQ/*.user
benchmarks/PLINQ/*.DotSettings
tmp/**/*
tmp/*
*.tmp
*.bak
*.swp
*~.nib
*.patch
cc.jar
.DS_STORE
.metadata/*
src-gen/**/*
*.lyx#
*.lyx~
sshuser
.settings/com.google.eclipse.protobuf.Protobuf.prefs
doc/*

*.class

# Package Files #
*.war
*.ear

eclipse-ant
bedrock_log.log
/bin
